<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title>{{ title }}</title>

        <link href="css/export.css" type="text/css" rel="stylesheet" />
    </head>

    <body>
        <div class="footer">
            <p class="footer__pagenumber"></p>
            {%- if footer %}

            <p class="footer__description">{{ footer }}</p>
            {%- endif %}
            {%- if publisher %}

            <p class="footer__publisher">{{ publisher }}</p>
            {%- endif %}

        </div>

        <div class="page page--{{ brand }}">
            <div class="header">
                <h1 class="header__title">{{ title }}</h1>
                {% if subtitle -%}
                    <p class="header__baseline">{{ subtitle }}</p>
                {%- endif %}

                <img class="header__image" src="img/{{ brand }}.svg" />
            </div>

            <div class="columns">
                {%- for event in events %}

                <section class="activity">
                    {% if event.image -%}
                    <div class="activity__image-container">
                        {%  if event.image -%}
                            <img src="{{ event.image }}?width=150&height=150&maxheight=150&crop=auto" class="activity__image" />
                        {%- endif %}

                    </div>
                    {% endif -%}
                    <p class="activity__type">{{ event.type }}</p>
                    <p class="activity__title">{{ event.title }}</p>
                    <div class="activity__description">
                        <p>{{ event.description }}</p>
                    </div>
                    <div class="activity__info">
                        <table class="activity__info__table">
                            <tr>
                                <td>
                                    <i class="fa fa-calendar"></i>&nbsp;
                                </td>
                                <td>
                                    {{ event.dates }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-map-marker"></i>&nbsp;
                                </td>
                                <td>
                                    {{ event.address.name }}<br />
                                    {{ event.address.street }}<br />
                                    {{ event.address.postcode }} {{ event.address.municipality }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-eur"></i>&nbsp;
                                </td>
                                <td>
                                    {{ event.price }}
                                </td>
                            </tr>
                        {%  if event.price != 'Gratis' and event.uitpas -%}
                            {% for tariff in event.uitpas.prices -%}
                            <tr>
                                <td>
                                    <i class="fa fa-eur"></i>&nbsp;
                                </td>
                                <td>
                                    {{ tariff.price }} {{ tariff.label }}
                                </td>
                            </tr>
                            {%- endfor %}
                        {%- endif -%}
                        </table>
                    </div>
                </section>
                {%- endfor %}

            </div>
        </div>
    </body>
</html>
